<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.mapper.EmpMapper">

    <resultMap id="emp" type="com.hotel.domain.EmpVO">
        <id column="emp_id" property="eid" />
        <result column="emp_name" property="name" />
        <result column="emp_ssn" property="ssn" />
        <result column="emp_phone" property="phone" />
        <result column="dept_id" property="did" />
        <result column="job_code" property="jid" />
        <result column="salary" property="salary" />
        <result column="enter_date" property="enterDate" />
        <result column="leave_date" property="leaveDate" />
    </resultMap>

    <!-- 전체조회-->
    <select id="getEmpList" resultMap="emp">
        SELECT * FROM employee
    </select>

    <!-- 상세조회 -->
    <select id="getEmp" resultMap="emp">
        SELECT * FROM EMPLOYEE WHERE emp_id = #{eid};
    </select>

    <!-- 생성 -->
    <insert id="create">
        INSERT INTO employee(
             emp_name, emp_ssn, emp_phone, dept_id, job_code, salary, enter_date
        ) values (
            #{name}, #{ssn}, #{phone}, #{did}, #{jid}, #{salary}, now()
        )
    </insert>

    <!-- 업데이트 -->
    <update id="update">
        UPDATE employee SET
            emp_name = #{name},
            emp_ssn = #{ssn},
            emp_phone = #{phone},
            dept_id = #{did},
            job_code = #{jid},
            salary = #{salary}
#             enter_date = #{enterDate},
#             leave_date = #{leaveDate}
        WHERE
            emp_id = #{eid}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        delete from employee where emp_id = #{eid}
    </delete>

</mapper>